<h1>Listing Articles</h1>
<%= link_to 'Nouveau Gossip', new_gossip_path %>
<table>
  <tr>
    <th>Titre</th>
    <th>Contenu</th>
    <th colspan="3"></th>
  </tr>
 
  <% @gossips.each do |gossip| %>
    <tr>
      <td><%= link_to 'Voir', gossip_path(gossip) %></td>
      <td><%= link_to 'Editer', edit_gossip_path(gossip) %></td>
      <td><%= link_to 'Supprimer', gossip_path(gossip),
              method: :delete,
              data: { confirm: 'Tes sur?' } %></td>
    </tr>
  <% end %>
</table>